@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'kanit' , sans-serif;
}

body {
    background-color: #f0fffff4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0;
    padding: 20px;
}

.money-img {
    width: 230px;
    padding: 15px 0;
}

.btn {
    color: #000000f4;
    background-color: rgb(127, 208, 255);
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    padding: 3px 10px;
}

.currency{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency select {
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    font-size: 18px;
    background: transparent;
    appearance: none;
}

.currency select option{
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    font-size: 18px;
    background: transparent;
    appearance: none;
}


.currency input {
    border: 0;
    background: transparent;
    font-size: 30px;
    text-align: right;
}

.swap-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    font-size: 20px;
    padding: 0 10px;
}

select:focus, input:focus, button:focus {
    outline: 0;
}